    openapi: 3.0.0
    info:
      title: API de pseudonymisation en langue française
      description: Cette API repose sur la reconnaissance d'entités nommées. Elle prend en entrée des textes en Français, et renvoie des textes modifiés où les entités détectées ont été mises entre balises et pseudonymisées (c'est-à-dire remplacées par d'autres valeurs).
      version: 1.0.0
    servers:
      - url: https://datascience.etalab.studio/pseudo/api/
        description: Serveur interne à des fins de test
    paths:
      /:
        post:
          summary: Renvoie un json contenant le texte pseudonymisé.
          requestBody:
              required: true
              content:
                application/x-www-form-urlencoded:
                  schema:
                    type: object
                    properties:
                      text:
                        type: string
          responses:
            '200':    # status code
              description: Un texte pseudonymisé
              content:
                application/json:
                  schema: 
                    type: object
                    properties: 
                      pseudo:
                        type: string

      /tags/:
        post:
          summary: Renvoie un json contenant le texte pseudonymisé et une version du texte où des balises XML ont été ajoutées autour des entités reconnues
          requestBody:
              required: true
              content:
                application/x-www-form-urlencoded:
                  schema:
                    type: object
                    properties:
                      text:
                        type: string
          responses:
            '200':    # status code
              description: Un texte pseudonymisé et un texte avec les entités d'origine signalées par des balises.
              content:
                application/json:
                  schema: 
                    type: object
                    properties: 
                      tags:
                        type: string
                      pseudo:
                        type: string